body {
  background-color: #2c2c2c;
  color: #ffd9d9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  margin: 0;
  text-align: center;
}

#page-container {
  background-color: #2a2a2a;
  max-width: 100vh;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-size: smaller;
}

a {
  color: #d9d9ff;
  text-decoration: none;
}

hr {
  width: 70%;
  margin: 1.5em auto 0 auto;
  border-top: 0.1em dashed #222222;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

hr.very-minor {
  width: 50%;
  margin: 0 auto 0 auto;
  border-top: 0.1em dashed #303030;
}

#open-top-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
}

#open-top-nav li {
  float: left;
}

#open-top-nav li a {
  display: block;
  text-align: center;
  font-size: larger;
  padding: 10px;
}

#open-top-nav li a:hover {
  background-color: #202020;
}

#hamburger-top-nav {
  display: grid;
  background-color: #222222;
}

#hamburger-top-nav img {
  padding: 0.2em;
  height: 2em;
  float: left;
}

#hamburger-top-nav img:hover {
  background-color: #202020;
  cursor: pointer;
}

#hamburger-top-nav ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

#hamburger-top-nav ul li a {
  display: block;
  width: 100%;
  padding-left: 1em;
}

#hamburger-top-nav ul li a:hover {
  background-color: #202020;
}

#mc_embed_signup {
  background: none;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

#footer {
  background-color: #2a2a2a;
  color: #d9ffd9;
  font-size: smaller;
  padding: 2em 0.5em 2em 0.5em;
  margin: 0 auto 0 auto;
  max-width: 100vh;
  border-top: 0.1em dashed #222222;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#footer ul li img {
  width: 3em;
  height: 3em;
}

#footer ul li {
  display: inline-block;
  margin: 0 0.5em 0 0.5em;
}

#footer h3 a {
  text-decoration: underline;
}